{{ define "home/index.tmpl.html"}}
<html lang="en">
  <head>
    <title>{{ .title }}</title>
    <meta
      name="description"
      content="Generate fake JSON Samples for your projects"
    />
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="/static/images/_.png" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    {{ template "globals/header.tmpl.html" }}
    <div class="container">
      <div class="sidebar">{{ template "globals/sidebar.tmpl.html" }}</div>
      <div class="content">
        <div>
          <h1>Fake JSON Samples</h1>
          <p>
            Use this API to generate JSON Sample data for your test projects.
            Information for Users,Todos, Posts and Comments.
          </p>

          <h3>Users</h3>
          <p>
            You can generate up to 100 users data per request. By default,
            you'll have 10 users. you may pass a total query parameter to your
            call. User ID is used across all data and can be used to get
            information for all users in all other fields.
          </p>

          <h3>Todos</h3>
          <p>You get a default of 10 todos on a single call.</p>

          <h3>Posts</h3>
          <p>
            Get a default of 20 posts on a single call. you can use the ?total
            query to specify the number of posts needed.
          </p>

          <h3>Comments</h3>
          <p>
            Get General comments or pass comments with a specific post id to get
            comments under a single posts.
          </p>

          <h3>Usage Examples</h3>
          <p>End Point:someRandomName</p>
          <div class="usage">
            <!--Users Example -->
            <div class="ex">
              <p>
                <a target="_blank" href="/users"
                  >fetch(`url/users`).then(resp => resp.json())</a
                >
              </p>
              <p>
                <a target="_blank" href="/users/1"
                  >fetch(`url/users/1`).then(resp => resp.json())</a
                >
              </p>
              <p>
                <a target="_blank" href="/users?total=6"
                  >fetch(`url/users?total=6`).then(resp => resp.json())</a
                >
              </p>
            </div>
            <div class="ex">
              <!-- Post Examples -->

              <p>
                <a target="_blank" href="/posts"
                  >fetch(`url/posts`).then(resp => resp.json())</a
                >
              </p>
              <p>
                <a target="_blank" href="/posts/1"
                  >fetch(`url/posts/1`).then(resp => resp.json())</a
                >
              </p>
              <p>
                <a target="_blank" href="/posts?total=4"
                  >fetch(`url/posts?total=4`).then(resp => resp.json())</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="mobile" class="mobile">{{template "globals/mobile.tmpl.html"}}</div>

    <script>
      function toggleMobile(){
        const bar = document.getElementById("mobile")
        const isMobile = bar.classList.contains("mobile")
        if(isMobile){
          bar.classList.remove("mobile")
          bar.classList.add("show-mobile")
        }else{
          bar.classList.remove("show-mobile")
          bar.classList.add("mobile")
        }
      }
    </script>
  </body>
  {{end}}
</html>
