{{ define "globals/header.tmpl.html" }}
<header>
  <nav class="navbar">
    <div class="left">
      <a>Goxide</a>
    </div>
    <div class="right">
        <a href="/users">Users</a>
        <a href="/posts">Posts</a>
        <a href="/comments">Comments</a>
        <a href="/todos">Todos</a>
        <a href="/products">Products</a>
        <a href="https://github.com/bill-greatness/goxide" title="View on Github">
          <img src="/static/images/gh.png" alt="View on Github" width="20">
        </a>
    </div>
  </nav>
</header>
{{end}}
