{{ define "globals/header.tmpl.html" }}
<header>
  <nav class="navbar">
    <div class="left">
      <a>JSON Samples</a>
    </div>
    <div class="right">
      <a href="/users">Users</a>
      <a href="/posts">Posts</a>
      <a href="/comments">Comments</a>
      <a href="/todos">Todos</a>
      <a href="https://github.com/bill-greatness/goxide" title="Contribute on Github">
        <i class="fa fa-github" style="font-size: 15px;"></i>
      </a>
    </div>
    <div class="nav-menu">
      <a href="https://github.com/bill-greatness/goxide" title="Contribute on Github">
        <i class="fa fa-github" style="font-size: 15px; color:#000"></i>
      </a>
      &nbsp; &nbsp; &nbsp;
      <div onclick="toggleMobile()">
        <span class="fa fa-bars" style="font-size: 30px;"></span>
      </div>
    </div>
  </nav>
</header>
{{end}}
