{{ define "globals/sidebar.tmpl.html" }}
<aside class="aside1">
    <h3>API Definitions</h3>
    <div>
        <div class="data">
            <h5>Users</h5>
            <div class="define">
                <p>POST - / + {data} </p>
                <p>GET - [/] | [?total={number}] | [/:id]</p>
                <p>DELETE - /:id</p>
                <p>PATCH - /:id</p>
            </div>
        </div>
        <div class="data">
            <h5>Comments</h5>
            <div class="define">
                <p>POST</p>
                <p>GET</p>
                <p>DELETE</p>
                <p>PATCH</p>
            </div>
        </div>

 
    </div>
</aside>
{{ end }}