{{ define "globals/sidebar.tmpl.html" }}
<aside class="aside1">
    <h3>API Definitions</h3>
    <div>
        <div class="data">
            <h4>Users</h4>
            <div class="define">
                <p>POST - / + {data} </p>
                <p>GET - [/] | [?total={number}] | [/:id]</p>
                <p>DELETE - /:id</p>
                <p>PATCH - /:id + {data}</p>
            </div>
        </div>
        
        <div class="data">
            <h5>Todos</h5>
            <div class="define">
                <p>POST / + {data}</p>
                <p>GET [/]  [total?={number}] | [/:id}</p>
                <p>DELETE - /:id</p> 
                <p>PATCH - /:id + {data}</p> 
            </div>
        </div>

        <div class="data">
            <h5>Posts</h5>
            <div class="define">
                <p>POST / + {data}</p>
                <p>GET [/]  [/post?postID={number}] | [/:id}</p>
                <p>DELETE - /:id</p> 
            </div>
        </div>

        <div class="data">
            <h5>Comments</h5>
            <div class="define">
                <p>POST / + {data}</p>
                <p>GET [/]  [/post?postID={number}] | [/:id}</p>
                <p>DELETE - /:id</p> 
            </div>
        </div>


 
    </div>
</aside>

{{ end }}